//-
          Copyright mrychkov (c) 2018 
          All Rights Reserved.
          Contact: contact@mrychkov.io
          MIT Licence
-//

doctype html
head
  title about me
  link(rel='stylesheet', href='css/about.css', type="text/css")
body
    div(id="about")
      div(class="description")
        p Hi! My name is Mariya, I'm UI/UX designer and software engineer, based in Paris, France. 
          | Being truly passionate about innovative digital experiences, I find my inspiration in contemporary art, 
          | architecture and travelling. 
          |<br /> <br />By mixing grid systems of NY skyscrapers, colors of Asian night markets, 
          | wonderful shapes of Anish Kapoor's sculptures, i'd like to help your business get discovered and 
          | gain recognition.
        a(href='#experiments') MY WORK
        a(href='#coffee') SAY HI  
      div(class="software") 
        p(class="name") SOFTWARE 
        p C/C++<br />(No/My)SQL<br />Node.js<br />Go<br />Erlang<br />
      div
        p(class="name") MOBILE
        p Swift<br />React-native<br />Objective-C<br />inVision
      div
        p(class="name") UI/UX
        p Photoshop<br />Illustrator<br />HTML/CSS<br />React.js<br />Angular
    
      
