//-
          Copyright mrychkov (c) 2018 
          All Rights Reserved.
          Contact: contact@mrychkov.io
          MIT Licence
-//

doctype html
head
    title coffee ?
    link(rel='stylesheet', href='css/coffee.css', type="text/css")
body 
    div(id="contact")
      form(class="contact-form" method="POST" action="send")
          div(class="na")
            p NAME : <br />
            input(id="input_name" name="name" type="text" required)
          div(class="email")
            p EMAIL : <br />
            input(class="uk-input" name="email" type="email" required) 
          div(class="message")
            p MESSAGE : <br />
            textarea(class="uk-textarea" name="message" rows="10" required)                
          div(class="submit-button")
            input(class="uk-button uk-align-center" type="submit" value="Submit")                          
      div(class="contact-info")
          h3 Contact Info
          p(class="uk-clearfix")
            span(class="uk-float-left" uk-icon="icon: location") 
              | &nbsp; 15, rue de Paris, 94220, Charenton-le-Pont, FRANCE
          p
            span(uk-icon="icon: phone") &nbsp; + 33 (0) 6 48 41 30 11
          p
            span(uk-icon="icon: mail") &nbsp; contact@mrychkov.io
          div(class="uk-align-center")
            ul(class="uk-iconnav")
              li 
                a(href="" target="_blank" title="facebook" uk-icon="icon: facebook")
              li
                a(href="" target="_blank" title="twitter" uk-icon="icon: twitter")
              li
                a(href="" target="_blank" title="linkedin" uk-icon="icon: linkedin")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.31/js/uikit.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.31/js/uikit-icons.min.js")
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js' integrity='sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T' crossorigin='anonymous')
    script(src='js/script.js')
