//-
          Copyright mrychkov (c) 2018 
          All Rights Reserved.
          Contact: contact@mrychkov.io
          MIT Licence
-//

doctype html
head
  title experiments
  link(rel='stylesheet', href='css/experiments.css', type="text/css")
body
  div(id="experiments")
    p(class="name") SOME OF MY RECENT PROJECTS
    div(class="gallery")
    
