//-
          Copyright mrychkov (c) 2018 
          All Rights Reserved.
          Contact: contact@mrychkov.io
          MIT Licence
-//

doctype html
head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(name="keywords" content="Nodejs, MEAN, dev, software, C/C++, freelance")
  link(rel='stylesheet', href='css/common.css', type="text/css")
  link(rel='stylesheet', href='css/responsive.css', type="text/css")
  link(rel='stylesheet', href='css/landing.css', type="text/css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  script(src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous")
body
  div(id="landing")
    include blocks/header
    p.principalTitle { mrychkov / io }
    p.subTitle 
      | full - stack software developper & designer
    a(href='about') DISCOVER
  include about
  include experiments
  include coffee
  include blocks/footer
  script(src='js/script.js')
      
      
      
